useDynLib(ProbReco, .registration = TRUE)
importFrom(Rcpp, evalCpp)
exportPattern("^[[:alpha:]]+")
importFrom(stats, rnorm, sd,cov)
importFrom(purrr,invoke_map)
importFrom(mvtnorm, rmvnorm)
importFrom(tools, vignetteInfo)
importFrom(RcppParallel, RcppParallelLibs)
importFrom(Rdpack,reprompt)
